*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'JetBrains Mono', monospace, sans-serif;
  background-image: linear-gradient(to bottom, #a19f9f, #a19f9f, white  );
}

